---
layout: null
title: "La page que vous cherchez n'existe pas"
---
<html lang="en">
{% include head.markdown %}


<body>

	{% include page-loading.markdown %}

	<div class="wrapper">
			
		<header class="header-bg">
			{% include header.markdown %}
		</header><!--header end-->

		{% include responsive-menu.markdown %}

		<section class="error-page">
			<div class="container">
				<div class="error-content">
					<div class="col-xl-6">
						<div class="error-text">
							<img src="{{ site.baseurl }}/assets/images/error.png" alt="">
							<h2>{{ site.data.i18n.error[page.lang].title }}</h2>
							<p>{{ site.data.i18n.error[page.lang].subtitle }}</p>
							<a href="/" title="" class="lnk-default"> <i class="la la-arrow-left"></i> {{ site.data.i18n.error[page.lang].button }} <span></span> </a>
						</div><!--error-text end-->
					</div>
				</div><!--error-content end-->
			</div>
		</section><!--error-page end-->

		<footer>
			{% include footer.markdown %}
		</footer><!--footer end-->

	</div><!--wrapper end-->

{% include scripts.markdown %}


</body>

</html>