---
layout: null
code: portfolio_details_2
title: "Rénovation pour location"
permalink: /fr/renovation_pour_location # change corresponding i18n path variable if permalink changed here!
last_modified_at : "2022-02-03"
---

<html lang="fr">
{% include head.markdown %}

<body>

	{% include page-loading.markdown %}

	<div class="wrapper">
			
		<header>
			{% include header.markdown %}
		</header><!--header end-->

		{% include responsive-menu.markdown %}

		<section class="pager-section mb-0 no-bg style2">
			<div class="container">
				<div class="pager-info">
					
				</div>
				<div class="clearfix"></div>
			</div>
		</section><!--pager-section end-->


		<section class="page-content pt-0">
			<div class="container">
				<div class="portfolio-details-page">
					<div class="row">
						<div class="col-lg-6">
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_6_detail_1.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_6_detail_2.jpg" alt="" class="w-100">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="portfolio-details-info">
								<h2>Transformation d’un T2 daté en T3 lumineux</h2>
								<p>
									Les propriétaires souhaitaient donner un coup de frais à cet appartement du sud de la France à la décoration datée.
									L’objectif étant de mettre en location par la suite un bien loué nu, tout en respectant un budget rénovation serré ! 
								</p>
								<p>
									Deux actions essentielles à mener : 
									<br/>
									-	Donner de la luminosité
									<br/>
									-	Créer une seconde chambre
									<br/>
								Les pièces ont été réaffectées. La plus grande pièce de l’appartement était la chambre et est devenue un séjour avec cuisine ouverte. Ainsi l’ancienne cuisine de 9 m² est devenue la seconde chambre et par réduction, l’ancien séjour devient la chambre principale.
								</p>
								<p>
								J’ai opté pour du blanc partout pour la luminosité et un sol en parquet stratifié chêne clair uniforme sur l’ensemble de l’appartement.
								La création d’un faux plafond sur la totalité de l’appartement à permis de masquer les irrégularités du plafond d’origine et de positionner des spots partout.
								La salle de bain est quand à elle métamorphosée. L’ancienne baignoire triste, le bidet et sa faïence laissent  place à une belle douche où zelliges blanc et sol en carrelage effet carreaux de ciments s’accordent parfaitement.
								Une cuisine en kit moderne et simple du commerce vient parfaire la pièce de vie.
								</p>
								<p>
								Un projet clé en main !
								</p>
								<p id="page-date">{{ page.last_modified_at }}</p>
								<ul class="pz-list">
									<li>
										<h4>Type de réalisation:</h4>
										<span>Rénovation pour particulier</span>
									</li>
									<li>
										<h4>Surface:</h4>
										<span>60 m²</span>
									</li>
									<li>
										<h4>Localisation:</h4>
										<span>Toulon (83)</span>
									</li>
								</ul>
								<!--ul class="social-links without-bg">
									<li><a href="#" title=""><i class="fab fa-pinterest-p"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-twitter"></i></a></li>
								</ul-->
								<ul class="catg-controls">
									<li>
										<a href="/fr/cuisine" title=""><i class="la la-angle-left"></i>Précédent</a>
									</li>
									<li>
										<a href="/fr/projection_3d_photoréalisme" title="">Suivant<i class="la la-angle-right"></i></a>
									</li>
								</ul>
							</div><!--catalog-product-info end-->
						</div>
					</div>
				</div><!--catalog-product-page end-->
			</div>
		</section><!--page-content end-->

		<footer>
			{% include footer.markdown %}
		</footer><!--footer end-->

	</div><!--wrapper end-->



{% include scripts.markdown %}

</body>

</html>