---
layout: null
code: portfolio_details_12
title: "Suite parentale"
permalink: /fr/suite_parentale # change corresponding i18n path variable if permalink changed here!
last_modified_at : "2023-10-13"
---

<html lang="fr">
{% include head.markdown %}

<body>

	{% include page-loading.markdown %}

	<div class="wrapper">
			
		<header>
			{% include header.markdown %}
		</header><!--header end-->

		{% include responsive-menu.markdown %}

		<section class="pager-section mb-0 no-bg style2">
			<div class="container">
				<div class="pager-info">
					
				</div>
				<div class="clearfix"></div>
			</div>
		</section><!--pager-section end-->


		<section class="page-content pt-0">
			<div class="container">
				<div class="portfolio-details-page">
					<div class="row">
						<div class="col-lg-6">
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_12_detail_1.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_12_detail_3.jpg" alt="" class="w-100">
							</div>
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_12_detail_5.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_12_detail_6.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_12_detail_2.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_12_detail_4.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							
						</div>
						<div class="col-lg-6">
							<div class="portfolio-details-info">
								<h2>Suite parentale</h2>
								
								<p>
									Optimiser l’espace pour avoir à la fois une multitude de rangement et une belle salle de bain avec baignoire baignée de lumière.
								</p>
								<p>
									L’idée étant de positionner le lit de façon Feng Shui. A savoir que le lit, est le point central de la chambre. Il ne doit surtout pas être placé dans l'axe entre la porte et la fenêtre principale, car cet axe laisse circuler de nombreuses énergies. 
								</p>
								<p>
									La création d’une tête de lit en tasseau de bois apporte modernité et un papier peint en partie haute graphique donne du rythme et de la couleur  à la pièce. 
								</p>
								<p>
									Après avoir décalé la porte permettant l’accès au dressing de quelques centimètres, on peut à la fois positionner un grand lit de 160 cm avec chevet et avoir dans le dressing des linéaires de profondeur 60 cm.
								</p>
								<p>
									Ainsi le dressing donne accès à la salle de bain. Le fond du dressing offre la possibilité de cacher le cumulus de la salle de bain et de ranger les choses du quotidien comme la table à repasser, le caddie des courses etc...								</p>
								</p>
								<p>
									Coté salle de bain, une belle baignoire ilot face à la fenêtre. On mélange terrazzo et zelliges blanc pour rester dans la douceur et ne pas surcharger le déco. Un meuble vasque vert pale pour faire écho aux touches de vert du terrazzo.
								</p>

								<p id="page-date">{{ page.last_modified_at }}</p>
								<ul class="pz-list">
									<li>
										<h4>Type de réalisation:</h4>
										<span>Rénovation pour particulier</span>
									</li>
									<li>
										<h4>Surface:</h4>
										<span>40 m²</span>
									</li>
									<li>
										<h4>Localisation:</h4>
										<span>Paris, France</span>
									</li>
								</ul>
								<!--ul class="social-links without-bg">
									<li><a href="#" title=""><i class="fab fa-pinterest-p"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-twitter"></i></a></li>
								</ul-->
								<ul class="catg-controls">
									<li>
										<a href="/fr/agencement_meuble_tv" title=""><i class="la la-angle-left"></i>Précédent</a>
									</li>
									<li>
										<a href="/fr/sejour_projet_madeleine" title="">Suivant<i class="la la-angle-right"></i></a>
									</li>
								</ul>
							</div><!--catalog-product-info end-->
						</div>
					</div>
				</div><!--catalog-product-page end-->
			</div>
		</section><!--page-content end-->

		<footer>
			{% include footer.markdown %}
		</footer><!--footer end-->

	</div><!--wrapper end-->



{% include scripts.markdown %}

</body>

</html>