---
layout: null
code: portfolio_details_9
title: "Maison de famille"
permalink: /fr/maison_de_famille # change corresponding i18n path variable if permalink changed here!
last_modified_at : "2023-06-01"
---

<html lang="en">
{% include head.markdown %}

<body>

	{% include page-loading.markdown %}

	<div class="wrapper">
			
		<header>
			{% include header.markdown %}
		</header><!--header end-->

		{% include responsive-menu.markdown %}

		<section class="pager-section mb-0 no-bg style2">
			<div class="container">
				<div class="pager-info">
					
				</div>
				<div class="clearfix"></div>
			</div>
		</section><!--pager-section end-->


		<section class="page-content pt-0">
			<div class="container">
				<div class="portfolio-details-page">
					<div class="row">
						<div class="col-lg-6">
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_9_detail_1.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_9_detail_2.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_9_detail_3.jpg" alt="" class="w-100">
							</div>
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_9_detail_4.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
						</div>
						<div class="col-lg-6">
							<div class="portfolio-details-info">
								<h2>Maison de famille 1850</h2>
								
								<p>
									Pour ce grand espace décloisonné, j’ai porté mon choix sur l’implantation de la cuisine et de la salle à manger devant la baie vitrée pour tourner ces espaces vers l’extérieur. 
Les lignes sont droites, épurées, modernes et minimalistes. Cette maison ancienne est ainsi modernisée sans perdre son charme.</p><p>
La maison bénéficie d’une belle lumière naturelle et d’avantage grâce à la grande baie vitrée donnant sur la terrasse. </p>
<p>Pour marquer les espaces, des spots et des suspensions  contemporaines viennent mettre en valeur le mobilier aux lignes droites.
</p><p>C’est une décoration contemporaine et minimaliste que j’ai choisi pour répondre aux souhaits des clients. Des formes plutôt linéaires et épurées. J’ai fait le choix de beaux matériaux qui se marient bien avec le charme de cette ancienne maison, des bois clairs, un marbre texturé gris pour la cuisine, du béton ciré ficelle au sol. L’ensemble permet de faire écho à la pierre sur les façades de la maison.
</p><p>Dès l’entrée, l’accent est mis sur la décoration de style minimaliste, les portes desservies dans la zone entrée sont presque invisibles et noyées dans le revêtement de bois clair des murs, comme un effet de boite. L’entrée est ouverte sur un  séjour confortable par un jeu de claustra qui continue au plafond pour marquer l’espace salon et joue sur les effets de matières et le passage de la lumière.
Coté couleurs, le gris charbon, le terracotta et le beige des tissus viennent réchauffer les espaces et casse le coté froid des décorations au design contemporain.
L’espace terrasse est vaste et reste dans les codes décoratifs de l’intérieur de la maison. Un bel auvent moderne abrite l’entrée et la baie vitrée. Ainsi les plantes grimpantes peuvent continuer d’y courir !
</p><p>Des bois clairs et des formes épurées pour le mobilier de jardin contemporain répondent parfaitement au charme de l’ancien.
</p><p>Des  choix décoratifs en adéquation avec la volonté des clients et le style de la maison … un cocoon contemporain en devenir !

								</p>
								<p id="page-date">{{ page.last_modified_at }}</p>
								<ul class="pz-list">
									<li>
										<h4>Type de réalisation:</h4>
										<span>Rénovation pour particulier</span>
									</li>
									<li>
										<h4>Surface:</h4>
										<span>150 m²</span>
									</li>
									<li>
										<h4>Localisation:</h4>
										<span>Sucy-En-Brie (94)</span>
									</li>
								</ul>
								<!--ul class="social-links without-bg">
									<li><a href="#" title=""><i class="fab fa-pinterest-p"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-twitter"></i></a></li>
								</ul-->
								<ul class="catg-controls">
									<li>
										<a href="/fr/home_staging_old_house" title=""><i class="la la-angle-left"></i>Précédent</a>
									</li>
								</ul>
							</div><!--catalog-product-info end-->
						</div>
					</div>
				</div><!--catalog-product-page end-->
			</div>
		</section><!--page-content end-->

		<footer>
			{% include footer.markdown %}
		</footer><!--footer end-->

	</div><!--wrapper end-->



{% include scripts.markdown %}

</body>

</html>