---
layout: null
code: portfolio_details_4
title: "Chambre parentale"
permalink: /fr/chambre_parentale # change corresponding i18n path variable if permalink changed here!
---

<html lang="en">
{% include head.markdown %}

<body>

	{% include page-loading.markdown %}

	<div class="wrapper">
			
		<header>
			{% include header.markdown %}
		</header><!--header end-->

		{% include responsive-menu.markdown %}

		<section class="pager-section mb-0 no-bg style2">
			<div class="container">
				<div class="pager-info">
					
				</div>
				<div class="clearfix"></div>
			</div>
		</section><!--pager-section end-->


		<section class="page-content pt-0">
			<div class="container">
				<div class="portfolio-details-page">
					<div class="row">
						<div class="col-lg-6">
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_4_detail_1.jpg" alt="" class="w-100">
							</div>
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_4_detail_2.jpg" alt="" class="w-100">
							</div>
							<div class="azt-img">
							</div>
							<div class="abt-zimg">
								<div class="abt-imgz">
									
									<img src="{{ site.baseurl }}/assets/images/images_portfolio_4_detail_3.jpg" alt="">
									<img src="{{ site.baseurl }}/assets/images/images_portfolio_4_detail_4.jpg" alt="">
									
								</div><!--abt-imgz end-->
							</div><!--abt-zimg end-->
						</div>
						<div class="col-lg-6">
							<div class="portfolio-details-info">
								<h2>Un style intemporel et chaleureux</h2>
								<p>Le palier de l’étage a été redessiné pour permettre la création de 2 salles de bain dont une salle d’eau en accès direct avec la chambre parentale.
									La porte de la chambre a été déplacée de quelques centimètres permettant ainsi de créer un dressing.</p>
									<p>A la fois, gain de place et esthétique, une porte à galandage miroir est installée entre la chambre et la salle d’eau parentale.
									Coté déco, l’esprit se veut intemporel, un mélange de style ancien et moderne se côtoient. Corniches aux plafonds, une tête de lit cloutée, commode vintage relookée en gris métallisé pour le coté ancien.</p>
									<p>Un mur vert sauge, des portes de placards blanches laquées, des appliques et des chevets en métal noir de style industriel pour le coté moderne.
									Pour parfaire l’ensemble, un grand tapis vert pale, des rideaux épais vert de gris puis du linge de lit en lin donnent un coté chaleureux et accueillant.
									</p>
								<ul class="pz-list">
									<li>
										<h4>Type de réalisation:</h4>
										<span>Rénovation pour particulier</span>
									</li>
									<li>
										<h4>Surface:</h4>
										<span>17 m²</span>
									</li>
									<li>
										<h4>Localisation:</h4>
										<span>Saint Maur Des Fossés</span>
									</li>
								</ul>
								<ul class="social-links without-bg">
									<li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
								</ul>
							</div><!--catalog-product-info end-->
							<div class="abt-zimg">
								<div class="abt-imgz-right">
									
									<img src="{{ site.baseurl }}/assets/images/images_portfolio_4_detail_6.jpg" alt="">
									
								</div><!--abt-imgz end-->
							</div><!--abt-zimg end-->
							<div class="abt-zimg">
								<div class="abt-imgz-right">
									
									<img src="{{ site.baseurl }}/assets/images/images_portfolio_4_detail_5.jpg" alt="">
									
								</div><!--abt-imgz end-->
							</div><!--abt-zimg end-->
						</div>
					</div>
				</div><!--catalog-product-page end-->
			</div>
		</section><!--page-content end-->

		<footer>
			{% include footer.markdown %}
		</footer><!--footer end-->

	</div><!--wrapper end-->



{% include scripts.markdown %}

</body>

</html>