---
layout: null
code: portfolio_details_5
title: "Cuisine"
permalink: /fr/cuisine # change corresponding i18n path variable if permalink changed here!
---

<html lang="en">
{% include head.markdown %}

<body>

	{% include page-loading.markdown %}

	<div class="wrapper">
			
		<header>
			{% include header.markdown %}
		</header><!--header end-->

		{% include responsive-menu.markdown %}

		<section class="pager-section mb-0 no-bg style2">
			<div class="container">
				<div class="pager-info">
					
				</div>
				<div class="clearfix"></div>
			</div>
		</section><!--pager-section end-->


		<section class="page-content pt-0">
			<div class="container">
				<div class="portfolio-details-page">
					<div class="row">
						<div class="col-lg-6">
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_5_detail_1.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_5_detail_2.jpg" alt="" class="w-100">
							</div>
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_5_detail_3.jpg" alt="" class="w-100">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="portfolio-details-info">
								<h2>Simplicité et praticité avec un total look blanc</h2>
								<p>Configurée en U, cette cuisine de 9 m2 avait besoin d’un bon coup de jeune !
									<br/>
									Réalisée sur mesure par un cuisiniste indépendant,  l’espace est exploité au centimètre près.
								</p>
								<p>
									On laisse passer la lumière grâce à l’ouverture verrière entre la salle à manger et la cuisine et on exploite le dessous de l’espace verrière avec des rangements bas et un grand plan de travail pour les accessoires de cuisine. On ne néglige pas les blocs prises au 4 coins de la cuisine pour les innombrables petits électroménagers !
								</p>
								<p>
									Le choix s’est porté sur des façades blanche en laque sans poignées qui  offrent un côté pratique et ergonomique  et des finitions chromées  pour une ligne pure à l’esthétique parfait. De quoi obtenir un seul bloc au style très épuré.
								</p>
								<ul class="pz-list">
									<li>
										<h4>Type de réalisation:</h4>
										<span>Rénovation pour particulier</span>
									</li>
									<li>
										<h4>Surface:</h4>
										<span>9 m²</span>
									</li>
									<li>
										<h4>Localisation:</h4>
										<span>Saint Maur Des Fossés</span>
									</li>
								</ul>
								<ul class="social-links without-bg">
									<li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
								</ul>
								<ul class="catg-controls">
									<li>
										<a href="#" title=""><i class="la la-angle-left"></i>Prev product</a>
									</li>
									<li>
										<a href="#" title="">Next product<i class="la la-angle-right"></i></a>
									</li>
								</ul>
							</div><!--catalog-product-info end-->
						</div>
					</div>
				</div><!--catalog-product-page end-->
			</div>
		</section><!--page-content end-->

		<footer>
			{% include footer.markdown %}
		</footer><!--footer end-->

	</div><!--wrapper end-->



{% include scripts.markdown %}

</body>

</html>