---
layout: null
code: portfolio_details_8
title: "Rénovation totale pour colocation"
permalink: /fr/renovation_totale_pour_colocation # change corresponding i18n path variable if permalink changed here!
last_modified_at : "2023-02-24"
---

<html lang="en">
{% include head.markdown %}

<body>

	{% include page-loading.markdown %}

	<div class="wrapper">
			
		<header>
			{% include header.markdown %}
		</header><!--header end-->

		{% include responsive-menu.markdown %}

		<section class="pager-section mb-0 no-bg style2">
			<div class="container">
				<div class="pager-info">
					
				</div>
				<div class="clearfix"></div>
			</div>
		</section><!--pager-section end-->


		<section class="page-content pt-0">
			<div class="container">
				<div class="portfolio-details-page">
					<div class="row">
						<div class="col-lg-6">
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_8_detail_1.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_8_detail_2.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_8_detail_3.jpg" alt="" class="w-100">
							</div>
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_8_detail_4.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_8_detail_5.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
						</div>
						<div class="col-lg-6">
							<div class="portfolio-details-info">
								<h2>Réaménagement totale d’une maison de 120 m2</h2>
								
								<p>
									Réaménagement totale d’une maison de 120 m2 pour une colocation étudiante de 6 chambres.
Les maisons typiques des années 30 du nord de la France ont pour particularités d’être toute en longueur et très étroite.
Pour ce projet, le RDC était composé d’un grand espace de séjour avec un jardin à l’arrière et d’une cuisine au fond de la maison. Le plus gros du projet d’aménagement se trouvait à ce niveau.
L’idée étant de créer une chambre à la place de l’actuelle cuisine et de diviser le plateau en intégrant une grande cuisine partagée, une chambre supplémentaire sur rue, une salle d’eau, un espace buanderie et un WC.
Les carreaux de ciment d’origine ont été conservés. La zone était parfaite pour accueillir la cuisine en bénéficiant d’un beau puits de lumière typique des maisons Lilloise.
Dans les étages, les chambres et salles d’eau n’avaient besoin que de petit rafraichissement.
Après une refonte totale de l’électricité et de la plomberie, place à la décoration mêlant style industriel et style scandinave.

								</p>
								<p id="page-date">{{ page.last_modified_at }}</p>
								<ul class="pz-list">
									<li>
										<h4>Type de réalisation:</h4>
										<span>Rénovation pour particulier</span>
									</li>
									<li>
										<h4>Surface:</h4>
										<span>120 m²</span>
									</li>
									<li>
										<h4>Localisation:</h4>
										<span>Lille (59)</span>
									</li>
								</ul>
								<!--ul class="social-links without-bg">
									<li><a href="#" title=""><i class="fab fa-pinterest-p"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-twitter"></i></a></li>
								</ul-->
								<ul class="catg-controls">
									<li>
										<a href="/fr/chambre_bebe" title=""><i class="la la-angle-left"></i>Précédent</a>
									</li>
									<li>
										<a href="/fr/home_staging_old_house" title="">Suivant<i class="la la-angle-right"></i></a>
									</li>
								</ul>
							</div><!--catalog-product-info end-->
						</div>
					</div>
				</div><!--catalog-product-page end-->
			</div>
		</section><!--page-content end-->

		<footer>
			{% include footer.markdown %}
		</footer><!--footer end-->

	</div><!--wrapper end-->



{% include scripts.markdown %}

</body>

</html>