---
layout: null
code: portfolio_details_13
title: "Séjour - Projet Madeleine"
permalink: /fr/sejour_projet_madeleine # change corresponding i18n path variable if permalink changed here!
last_modified_at : "2023-10-26"
---

<html lang="en">
{% include head.markdown %}

<body>

	{% include page-loading.markdown %}

	<div class="wrapper">
			
		<header>
			{% include header.markdown %}
		</header><!--header end-->

		{% include responsive-menu.markdown %}

		<section class="pager-section mb-0 no-bg style2">
			<div class="container">
				<div class="pager-info">
					
				</div>
				<div class="clearfix"></div>
			</div>
		</section><!--pager-section end-->


		<section class="page-content pt-0">
			<div class="container">
				<div class="portfolio-details-page">
					<div class="row">
						<div class="col-lg-6">
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_13_detail_1.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_13_detail_2.jpg" alt="" class="w-100">
							</div>
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_13_detail_3.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_13_detail_4.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							
						</div>
						<div class="col-lg-6">
							<div class="portfolio-details-info">
								<h2>Séjour Projet Madeleine</h2>
								
								<p>
									Ces anciens bureaux parisiens retrouvent  leur charme en redevenant un appartement familial.
								</p>
								<p>
									Le large séjour est divisé en 3 parties, une cloison pour la création d’une chambre d’enfant, et une cloison semi ouverte pour la cuisine derrière verrière. Au centre un beau séjour accueillant.
									On replace une cheminée haussmannienne au centre du salon, en l’encadrant de bibliothèque sur mesure aux couleurs douces.
								</p>
								<p>
									Un nouveau parquet chevron et des corniches rétro éclairées redonnent son cachet à cet intérieur.
								</p>
								<p>
									Coté déco, mélange des genres ! Contemporain et authenticité de l’haussmannien s’accordent à merveille.  
								</p>

								<p id="page-date">{{ page.last_modified_at }}</p>
								<ul class="pz-list">
									<li>
										<h4>Type de réalisation:</h4>
										<span>Rénovation pour particulier</span>
									</li>
									<li>
										<h4>Surface:</h4>
										<span>60 m²</span>
									</li>
									<li>
										<h4>Localisation:</h4>
										<span>Paris, France</span>
									</li>
								</ul>
								<!--ul class="social-links without-bg">
									<li><a href="#" title=""><i class="fab fa-pinterest-p"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-twitter"></i></a></li>
								</ul-->
								<ul class="catg-controls">
									<li>
										<a href="/fr/suite_parentale" title=""><i class="la la-angle-left"></i>Précédent</a>
									</li>
									<li>
										<a href="/fr/salle_de_bain_principale" title="">Suivant<i class="la la-angle-right"></i></a>
									</li>
								</ul>
							</div><!--catalog-product-info end-->
						</div>
					</div>
				</div><!--catalog-product-page end-->
			</div>
		</section><!--page-content end-->

		<footer>
			{% include footer.markdown %}
		</footer><!--footer end-->

	</div><!--wrapper end-->



{% include scripts.markdown %}

</body>

</html>