---
layout: null
code: portfolio_details_10
title: "Home Staging"
permalink: /fr/home_staging_old_house # change corresponding i18n path variable if permalink changed here!
last_modified_at : "2023-03-26"
---

<html lang="en">
{% include head.markdown %}

<body>

	{% include page-loading.markdown %}

	<div class="wrapper">
			
		<header>
			{% include header.markdown %}
		</header><!--header end-->

		{% include responsive-menu.markdown %}

		<section class="pager-section mb-0 no-bg style2">
			<div class="container">
				<div class="pager-info">
					
				</div>
				<div class="clearfix"></div>
			</div>
		</section><!--pager-section end-->


		<section class="page-content pt-0">
			<div class="container">
				<div class="portfolio-details-page">
					<div class="row">
						<div class="col-lg-6">
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_10_detail_1.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_10_detail_2.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_10_detail_3.jpg" alt="" class="w-100">
							</div>
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_10_detail_4.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
						</div>
						<div class="col-lg-6">
							<div class="portfolio-details-info">
								<h2>Home staging pour une maison des années 30</h2>
								
								<p>
									Cette maison avait besoin d’un bon coup de frais ! Elle ne trouvait pas preneur ! Après notre intervention, les visites se sont multipliées.
L’ensemble des éléments de salle de bain ont été déposés et une nouvelle salle d’eau avec une grande douche et un beau plan de toilette ont fait leurs apparition .Un placard est crée pour accueillir le lave linge et un nouveau ballon d’eau chaude !
Une faïence gris clair est choisie afin de rester en accord avec le sol déjà présent de style marbre.
								</p>
								<p>
La cuisine conserve sont implantation. Les anciens éléments de cuisine sont déposés puis remplacé par une cuisine en kit blanche plus moderne aux accents  pop avec un plan de travail et une crédence jaune citron.
Pour le reste de la maison, quelques travaux de peinture et de tapisserie afin de donner à chaque chambre une personnalité unique.

								</p>
								<p id="page-date">{{ page.last_modified_at }}</p>
								<ul class="pz-list">
									<li>
										<h4>Type de réalisation:</h4>
										<span>Rénovation pour particulier</span>
									</li>
									<li>
										<h4>Surface:</h4>
										<span>80 m²</span>
									</li>
									<li>
										<h4>Localisation:</h4>
										<span>Lille (59)</span>
									</li>
								</ul>
								<!--ul class="social-links without-bg">
									<li><a href="#" title=""><i class="fab fa-pinterest-p"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-twitter"></i></a></li>
								</ul-->
								<ul class="catg-controls">
									<li>
										<a href="/fr/renovation_totale_pour_colocation" title=""><i class="la la-angle-left"></i>Précédent</a>
									</li>
								</ul>
							</div><!--catalog-product-info end-->
						</div>
					</div>
				</div><!--catalog-product-page end-->
			</div>
		</section><!--page-content end-->

		<footer>
			{% include footer.markdown %}
		</footer><!--footer end-->

	</div><!--wrapper end-->



{% include scripts.markdown %}

</body>

</html>