---
layout: null
code: portfolio_details_11
title: "Agencement de meuble TV"
permalink: /fr/agencement_meuble_tv # change corresponding i18n path variable if permalink changed here!
last_modified_at : "2023-06-20"
---

<html lang="en">
{% include head.markdown %}

<body>

	{% include page-loading.markdown %}

	<div class="wrapper">
			
		<header>
			{% include header.markdown %}
		</header><!--header end-->

		{% include responsive-menu.markdown %}

		<section class="pager-section mb-0 no-bg style2">
			<div class="container">
				<div class="pager-info">
					
				</div>
				<div class="clearfix"></div>
			</div>
		</section><!--pager-section end-->


		<section class="page-content pt-0">
			<div class="container">
				<div class="portfolio-details-page">
					<div class="row">
						<div class="col-lg-6">
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_11_detail_1.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_11_detail_2.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_11_detail_3.jpg" alt="" class="w-100">
							</div>
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_11_detail_4.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_11_detail_5.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
						</div>
						<div class="col-lg-6">
							<div class="portfolio-details-info">
								<h2>Agencement sur mesure</h2>
								
								<p>
									Le meuble télé est un mobilier que l’on retrouve dans quasiment tous les intérieurs. C’est un élément important dans la décoration du salon. Il apporte du caractère à la pièce !
								</p>
								<p>
								Mes clients souhaitaient avoir un linéaire aéré, design et moderne permettant d’intégrer certaines contraintes que seul le sur mesure peut prendre en compte.
								</p>
								<p>
								La sortie de climatisation et son moteur se trouve être en plein milieu du mur ou se trouvera le meuble télé. Il était donc indispensable de les intégrer dans le design et de les dissimuler ingénieusement tout en gardant un accès pour l’aspect technique.
								</p>
								<p>
								Coté déco, les clients souhaitaient pouvoir mettre en avant quelques livres, objets décoratifs et des maquettes de voiture. Le tout dans un mixte de couleurs et textures neutres.
								</p>
								<p>
								Ce meuble sur mesure répond à tous les critères : esthétisme et praticité. La continuité des étagères entourant le mur joue le prolongement et créer une sensation de grandeur !
								</p>

								<p id="page-date">{{ page.last_modified_at }}</p>
								<ul class="pz-list">
									<li>
										<h4>Type de réalisation:</h4>
										<span>Rénovation pour particulier</span>
									</li>
									<li>
										<h4>Surface:</h4>
										<span>20 m²</span>
									</li>
									<li>
										<h4>Localisation:</h4>
										<span>Herzliya, Israel</span>
									</li>
								</ul>
								<!--ul class="social-links without-bg">
									<li><a href="#" title=""><i class="fab fa-pinterest-p"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-twitter"></i></a></li>
								</ul-->
								<ul class="catg-controls">
									<li>
										<a href="/fr/maison_de_famille" title=""><i class="la la-angle-left"></i>Précédent</a>
									</li>
									<li>
										<a href="/fr/suite_parentale" title="">Suivant<i class="la la-angle-right"></i></a>
									</li>
								</ul>
							</div><!--catalog-product-info end-->
						</div>
					</div>
				</div><!--catalog-product-page end-->
			</div>
		</section><!--page-content end-->

		<footer>
			{% include footer.markdown %}
		</footer><!--footer end-->

	</div><!--wrapper end-->



{% include scripts.markdown %}

</body>

</html>