---
layout: null
code: portfolio_details_2
title: "Séjour et salle à manger"
permalink: /fr/sejour_et_salle_a_manger # change corresponding i18n path variable if permalink changed here!
---

<html lang="en">
{% include head.markdown %}

<body>

	{% include page-loading.markdown %}

	<div class="wrapper">
			
		<header>
			{% include header.markdown %}
		</header><!--header end-->

		{% include responsive-menu.markdown %}

		<section class="pager-section mb-0 no-bg style2">
			<div class="container">
				<div class="pager-info">
					
				</div>
				<div class="clearfix"></div>
			</div>
		</section><!--pager-section end-->


		<section class="page-content pt-0">
			<div class="container">
				<div class="portfolio-details-page">
					<div class="row">
						<div class="col-lg-6">
							<div class="abt-zimg">
								<div class="abt-imgz">
									<img src="{{ site.baseurl }}/assets/images/images_portfolio_473x373_2_detail_1.jpg" alt="">
									<img src="{{ site.baseurl }}/assets/images/images_portfolio_473x373_2_detail_2.jpg" alt="">
									<div>
										<h4>Watch a video about how we work and try for our customers</h4>
									</div>
								</div><!--abt-imgz end-->
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_473x373_2_detail_3.jpg" alt="" class="w-100">
							</div>
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_473x373_2_detail_4.jpg" alt="" class="w-100">
							</div>
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_473x373_2_detail_5.jpg" alt="" class="w-100">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="portfolio-details-info">
								<h2>Un espace accueillant et lumineux</h2>
								<p>Dans un 1er temps, il était nécessaire d’ouvrir l’espace pour y circuler plus librement et facilement, puis dans un second temps de faire rentrer la lumière dans ce séjour un peu daté !
									<br/>
									La fenêtre donnant sur le jardin est transformé en porte fenêtre pour permettre d’accéder directement au jardin depuis le séjour.
									<br/>
									Le mur entre la cuisine et le séjour est ouvert par une verrière et un passage large sans porte pour faciliter la circulation.
									<br/>
									L’arche à l’allure de trattoria séparant la pièce de vie en 2 est réduite et donne ainsi plus d’espace au sol.
								</p>
								<p>
									Coté déco, Le sol est changé par de grand carreaux en gré gris clair effet béton et un carrelage style carreaux de ciment est positionné pour matérialiser l’entrée.
									<br/>
									Le blanc reste prédominant et des touches de gris de différentes nuances donnent le rythme notamment dans les escaliers. Juste un mur en vert sauge derrière le canapé du salon pour délimiter l’espace.
									<br/>
									L’entrée est totalement ouverte sur le reste de l’étage mais des portes a galandage de style atelier permettent de fermer l’entrée en fonction des envies.
									<br/>
									Mobiliers et luminaires en métal noir pour l’esprit industriel et du gris, du blanc et des effets de miroir pour adoucir l’ensemble.</p>
								<ul class="pz-list">
									<li>
										<h4>Type de réalisation:</h4>
										<span>Rénovation pour particulier</span>
									</li>
									<li>
										<h4>Surface:</h4>
										<span>40 m²</span>
									</li>
									<li>
										<h4>Localisation:</h4>
										<span>Saint Maur Des Fossés</span>
									</li>
								</ul>
								<ul class="social-links without-bg">
									<li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
								</ul>
								<ul class="catg-controls">
									<li>
										<a href="#" title=""><i class="la la-angle-left"></i>Prev product</a>
									</li>
									<li>
										<a href="#" title="">Next product<i class="la la-angle-right"></i></a>
									</li>
								</ul>
							</div><!--catalog-product-info end-->
						</div>
					</div>
				</div><!--catalog-product-page end-->
			</div>
		</section><!--page-content end-->

		<footer>
			{% include footer.markdown %}
		</footer><!--footer end-->

	</div><!--wrapper end-->



{% include scripts.markdown %}

</body>

</html>